{% load static %}
<!-- Menu Lateral -->

<div class="flex flex-col case p-2 vert">
    <div class="bg-vert sidebar case">
        <nav hx-target="#main" hx-swap="outerHTML" hx-push-url="true">
            <div class="sticky top-0">
                
                <!-- Tableau de bord -->
                <div class="menu-item">
                    <button class="submenu-item btn p-2" style="color: rgb(107, 114, 128);">
                        Tableau de bord
                    </button>
                </div>

                <!-- Suivi budgétaire -->
                <div class="menu-item">
                    <button class="btn text-left font-bold p-2" _="on click toggle .open on the next .submenu">
                        Suivi budgétaire
                    </button>
                    <div class="submenu hidden">
                        <button class="submenu-item btn p-2" hx-get="/suivi_budgetaire/">
                            Tableaux budgétaires
                        </button>
                        <button class="submenu-item btn p-2" hx-get="/organigramme/">
                            Organigramme
                        </button>
                        <button class="submenu-item btn p-2" hx-get="/subventions/">
                            Suivi subventions
                        </button>
                        <button class="submenu-item btn p-2" style="color: rgb(107, 114, 128);">
                            Plan de trésorerie
                        </button>
                    </div>
                </div>
                

                <!-- Suivi de projet -->
                <div class="menu-item">
                    <button class="btn text-left font-bold p-2" _="on click toggle .open on the next <div/>">
                        Suivi de projet
                    </button>
                    <div class="submenu hidden">
                        <button class="submenu-item btn p-2" hx-get="/objectifs_indicateurs/">
                            Objectifs indicateurs
                        </button>
                        <button class="submenu-item btn p-2" style="color: rgb(107, 114, 128);">
                            Postulations
                        </button>
                        <button class="submenu-item btn p-2" style="color: rgb(107, 114, 128);">
                            Tâches
                        </button>
                        <button class="submenu-item btn p-2" style="color: rgb(107, 114, 128);">
                            Suivi évenements
                        </button>
                    </div>
                </div>

                <!-- Raffineur.euses -->
                <div class="menu-item">
                    <button class="btn text-left font-bold p-2" _="on click toggle .open on the next <div/>">
                        Raffineur.euses
                    </button>
                    <div class="submenu hidden">
                        <button class="submenu-item btn p-2" hx-get="/repertoire/">
                            Répertoire
                        </button>
                        <button class="submenu-item btn p-2" style="color: rgb(107, 114, 128);">
                            Suivi volontariat
                        </button>
                    </div>
                </div>

                <!-- Boîte à outils -->
                <div class="menu-item">
                    <button class="btn text-left font-bold p-2" _="on click toggle .open on the next <div/>">
                        Boîte à outils
                    </button>
                    <div class="submenu hidden">
                        <button class="submenu-item btn p-2" style="color: rgb(107, 114, 128);">
                            Documentation
                        </button>
                    </div>
                </div>

            </div>
        </nav>
    </div>
</div>
